@charset "UTF-8";
/* ----------{  google font-family CDN  }---------- */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&family=Merienda:wght@300..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Salsa&display=swap');

/*!----------{  Author      :   Bisakto-Rahi  }----------_*/
/*!----------{  Create      :   23/11/2024    }-----------_*/

/*todo--------------{  Start Default Style For all  }--------------_*/

/*_----------{  My Color Variables  }----------_*/
:root{
    --White: #fff;
    --black: #000;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --light-border-color: #dee2e6;
    --dark-border-color: #6c757d;
    /*_----------{  My Font Variables  }----------_*/
    --font-1: "Salsa", cursive;
    --font-2: "Caveat", cursive;
    --font-3: "Caveat Brush", cursive;
    --font-4: "Merienda", cursive;
    --font-5: "Merriweather", serif;
}
*{
  font-family: var(--font-1);
}        
.sub-heading{
  font-family: var(--font-3);
}       
p{
  font-family: var(--font-2);
  font-weight: 500;
  text-align: justify;
} 
.pera{
  font-family: var(--font-4);
  font-weight: 600;
  text-align: justify;
}   
.pera-cen{
  font-family: var(--font-4);
  font-weight: 600;
  text-align: center;
}
.pera-2{
  font-family: var(--font-5);
  font-weight: 500;
  text-align: justify;
}  
.pera-2-cen{
  font-family: var(--font-5);
  font-weight: 500;
  text-align: center;
  }
*{
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  max-width: 100%;
  font-size: 100%;
  font-family: var(--my-font-1);
  line-height: 1.5;
  color: var(--gray-900);
  background-color: var(--white);
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
/* ----------{  scrollbar style  }---------- */
::-webkit-scrollbar{
  width: 0.625rem;
}
::-webkit-scrollbar-track{
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  background-color: #000;
}
  /*//--------------{  Default Style For all  }--------------//*/
  .gray{
    color: var(--gray-600);
  }